*,*::after,*::before{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    background-color: rgb(37, 36, 36);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.container{
    height: 100vh;
    width: 30vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

.container::before{
    content: "";
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStcO-hMMUn2AaawmxV1htp6OPzfONawQ0Ndg&s');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.notification-bar{
    height: 30px;
    width: 30vw;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    color: white;
    z-index: 100;
}

.batterySpan{
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 8px;
    margin-left: 5px;
    background-color: white;
    color: black;
}

.time-show {
    display: flex;
    z-index: 100;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.current-time{
    font-size: 8rem;
    color: white;
    font-weight: bolder;
}

.additional-Info{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
}

.notifications{
    margin: 10px 0;
    padding: 10px 10px;
    width: 100%;
    z-index: 100;
}

.notification-info{
 background-color: azure;
 border-radius: 1em;
 display: flex;
 padding: 10px;
 align-items: center;
}

.notification-info img{
    border-radius: 50%;
    height: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.notification-info .img-info{
   display: flex;
   flex-direction: column;
   padding: 10px;
}
.notification-info .img-info .name{
   font-weight: 800;
}

small{
    font-weight: 200;
}
.other-notifications{
    z-index: 100;
    border-radius: 10px;
    width: 100%;

}
.other-notifications-tags{
        background-color: rgba(147, 148, 148, 0.496);
}
.other-notifications ul{
display: flex;
list-style: none;

}

.other-notifications ul li img{
    height: 50px;
    aspect-ratio: 1/1;
    object-fit: contain;
    padding: 10px;
    border-radius: 50%;
}

.musicPlayer-icon{
    z-index: 100;
    width: 100%;
    padding: 1rem;
    border-radius: 50px;
}

.musicPlayer-icon-info-card{
    display: flex;
    width: 100%;
    background-color: rgba(174, 171, 171, 0.233);
    align-items: center;
}
.musicPlayer-icon-info-card img{
    height: 200px;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.musicPlayer-icon-info-card .album-info{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}
.musicPlayer-icon-info-card .album-info img{
   width: 100%;
   height: 100px;
}
.musicPlayer-icon-info-card .album-info .name{
   font-size: 2rem;
   color: white;
}





